@font-face {
    font-family: OpenSans-Regular;
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../font/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url('../font/OpenSans-SemiboldItalic.ttf');
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url('../font/OpenSans-ExtraBoldItalic.ttf');
}
